@page "/Orders"
@using WorkerClient.Models
<h3>Orders</h3>
@if (ords == null) {
    <p>
        <em>Loading...</em>
    </p>
}
else if (!ords.Any()) {
    <p>
        <em>loading menu.....</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr><th>*</th>
            <th>items</th>
            <th>price</th>
            <th><h7 style="color:tomato;">
                🗑️
            </h7>
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in ords)
        {
            <tr>
                <td>
                    <button class="btn" @onclick="Ding">
                        
                    </button>
                </td>
                <td>
                    <button class="btn" @onclick="Ding">
                        
                    </button>
                </td>
                <td>
                    <button class="btn" @onclick="Ding">
                        @item.price DKK
                    </button>
                </td>
                <td>
                    <button class="btn" @onclick="Ding">
                        <h7 style="color:tomato;">
                            -remove-
                        </h7>
                    </button>
                </td>
                <!--<td>/td>-->
                <td>
                </td>
            </tr>
        }
        </tbody>
        </table>
}
        
         
        

@code {
    static IList<OrderObject> ords= new List<OrderObject>();

    private void Ding()
    {
        
    }
}

