@inherits LayoutComponentBase
<body style="background-color:powderblue;">
<div class="page" style="background-color:#9debf1;">

    <div class="main">
        
        <div class="top-row px-4" style="background-color:#9debf1;">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">WorkerClient</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
</body>